@font-face {
  font-family: "GeomGraphic";
  src: url("../assets/Geom-Graphic-W03-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

/* Title  */
.navbar {
  position: sticky;
  top: 0;
}

.navbar h3 {
  font-size: 48px;
  font-family: "GeomGraphic";
  color: #ffffff;
}

.green-color {
  background-color: #40e068;
}

.rounded-rectangle {
  background-color: #f0f0f0; /* Background color for the rectangle */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside the rectangle */
  display: inline-block; /* Ensure the rectangle wraps around the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
  position: relative; /* Ensure the image is positioned within the rectangle */
}

.rounded-rectangle img {
  display: block; /* Ensure the image is centered within the rectangle */
  margin: 0 auto; /* Center the image horizontally */
}
.rounded-corners {
  color: #000000;
  border-radius: 10px;
}

.answers-log-container {
  padding: 20px;
  text-align: center;
}

.result-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.result-item p {
  margin-bottom: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.log-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.log-item.correct {
  border-left: 5px solid #28a745;
}

.log-item.incorrect {
  border-left: 5px solid #dc3545;
}

.question-number {
  font-weight: bold;
}

.question-text {
  margin-top: 10px;
}

.user-answer,
.correct-answer,
.result {
  margin-top: 5px;
}

.total-score {
  font-size: 18px;
  font-weight: bold;
}
