@font-face {
  font-family: "GeomGraphic";
  src: url("../assets/Geom-Graphic-W03-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

/* Title  */
.navbar {
  position: sticky;
  top: 0;
}

.container {
  margin-top: 35px;
}
.navbar h3 {
  font-size: 48px;
  font-family: "GeomGraphic";
  color: #ffffff;
}

#nickname-display {
  font-size: 48px;
  margin-left: 50px;
  font-family: "GeomGraphic";
  color: #ffffff;
}

#quest-log {
  font-size: 32px;
  font-family: "Poppins";
  color: #ffffff;
  margin-bottom: 50px;
}
.green-color {
  background-color: #40e068;
  padding: 10px;
}

.rounded-rectangle img {
  display: block; /* Ensure the image is centered within the rectangle */
  margin-left: 50px;
}

.rounded-rectangle {
  margin-top: 50px;
}

#quest-log {
  margin-left: 100px;
}
/* Score */
#final-score-display {
  margin-left: 70px;
  font-family: "Poppins";
}
.answers-log-container {
  padding: 20px;
  text-align: center;
}

.result-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.result-item p {
  margin-bottom: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.log-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.log-item.correct {
  border-left: 5px solid #28a745;
}

.log-item.incorrect {
  border-left: 5px solid #dc3545;
}

.question-number {
  font-weight: bold;
}

.question-text {
  margin-top: 10px;
}

.user-answer,
.correct-answer,
.result {
  margin-top: 5px;
}

.total-score {
  font-size: 18px;
  font-weight: bold;
}
