@font-face {
  font-family: "GeomGraphic";
  src: url(/assets/Geom-Graphic-W03-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

/* RESULTS PAGE */
/* Centering a div */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Font family */
.poppins {
  font-family: Poppins;
}

.geomgraphic {
  font-family: "GeomGraphic";
}

/* Font colors */
.red-text {
  color: #e0405c;
}

.yellow-text {
  color: #f8a840;
}

.pink-text {
  color: #f8a0cc;
}

/* Text Span */
.span-heading-black {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.span-heading-red {
  color: #e0405c;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.span-heading-yellow {
  color: #f8a840;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.nav-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  width: 100%;
}

.title-container > h3 {
  color: #000;
  font-family: "GeomGraphic";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

/* Score Section */
.score-page-container {
  width: 100%;
  padding: 65px 0px;
}

.sidelook-left-logo {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}

.user-text {
  color: #000;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.score-border-container {
  width: 500px;
  height: 380px;
  background: #b2e2fe;
  border-radius: 30px;
  border: 20px solid #b2e2fe;
}

.score-container {
  width: 450px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #40b5e0 50%;
}

.score-text {
  color: #fff;
  font-family: GeomGraphic;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.score-number {
  color: #fff;
  font-family: GeomGraphic;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.score-logo-container {
  gap: 100px;
}

/* Answer Key Section */
.answer-key-page-container {
  width: 100%;
  padding: 170px 0px;
  background: #f8a0cc;
}

.answer-result-container {
  gap: 30px;
}

.correct-text-container {
  width: 390px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #40e068;
}

.wrong-text-container {
  width: 390px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e0405c;
}

.correct-text,
.wrong-text {
  color: #fffbfb;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.correct-icon,
.wrong-icon {
  color: #fff;
  font-family: Poppins;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.correct-container,
.wrong-container {
  font-family: Poppins;
}

.correct-container, .wrong-container {
  gap: 10px;
}

.correct-icon-container {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #40e068;
}

.wrong-icon-container {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e0405c;
}

.see-answer-container {
  margin-top: 150px;
}

#answer-key {
  width: 600px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #ec70af;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

#answer-key:hover {
  background: #e0405c;
}

/* Footer */
footer > p {
  margin-bottom: 0px;
}
