@font-face {
  font-family: "GeomGraphic";
  src: url(/assets/Geom-Graphic-W03-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

/* Font family */
.poppins {
  font-family: Poppins;
}

.geomgraphic {
  font-family: "GeomGraphic";
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.nav-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  width: 100%;
}

.title-container > h3 {
  color: #000;
  font-family: "GeomGraphic";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.score-page-container {
  text-align: center;
  padding: 20px;
}

.user-text.poppins {
  font-size: 40px;
}

.score-row {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 100px; /* Adjust the gap between the score and the image */
}

.score-logo-container {
  display: flex;
  width: 496px;
  height: 373px;
  flex-direction: column;
  align-items: center;
  background-color: #b2e2fe; /* Background color for the rectangles */
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score-logo-container-inside {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 445px;
  height: 316px;
  align-items: center;
  background-color: #40b5e0; /* Background color for the rectangles */
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score-text.geomgraphic {
  font-size: 40px;
  margin-top: 90px;
  color: #fff;
  font-family: "GeomGraphic";
  font-weight: bold;
}

.score-number.geomgraphic {
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  font-family: "GeomGraphic";
}

.sidelook-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidelook-left-logo {
  width: 460x;
  height: 370px;
}

/* Get the correct answer */
.percent-container {
  background-color: #f8a0cc;
  padding: 90px;
}

.sub-rectangles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; /* Adjust the gap between the rectangles */
  margin-top: -20px;
}

.check-rectangle-container,
.wrong-rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.check-rectangle,
.wrong-rectangle {
  background-color: #40e068;
  width: 150px;
  height: 156px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-rectangle  {
  font-size: 90px;
  color: white;
  font-weight: bold;
}

.correct-percentage {
  background-color: #40e068;
}

.wrong-rectangle {
  background-color: #e04040;
}

.correct-percentage,
.wrong-percentage {
  width: 350px;
  height: 156px;
  border-radius: 10px;
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: 25px;
  font-size: 24px;
  flex-direction: column;
  padding-top: 19px;
  color: #fff;
}

.correct-answer,
.percentage-correct,
.wrong-percentage {
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.wrong-rectangle {
  font-size: 90px;
  color: white;
  font-weight: bold;
}

.wrong-percentage {
  background-color: #e04040;
}

.see-btn-container {
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 100px;
}

.see-btn {
  padding: 10px 180px;
  font-size: 40px;  
  font-family: Poppins;
  background-color: #EC70AF;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.see-btn:hover {
  background-color: #f30079;
}
