@font-face {
  font-family: "GeomGraphic";
  src: url('../assets/Geom-Graphic-W03-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

/* LANDING PAGE */
/* Centering a div */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Font family */
.poppins {
  font-family: Poppins;
}

.geomgraphic {
  font-family: "GeomGraphic";
}

/* Font colors */
.red-text {
  color: #e0405c;
}

.yellow-text {
  color: #f8a840;
}

.pink-text {
  color: #f8a0cc;
}

/* Text Span */
.span-heading-black {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.span-heading-red {
  color: #e0405c;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.span-heading-yellow {
  color: #f8a840;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.nav-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  width: 100%;
}

.title-container > h3 {
  color: #000;
  font-family: "GeomGraphic";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  margin-bottom: 0px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #675b5b;
}

/* Home Section */
.home-container {
  width: 100%;
}

.front-logo-container,
.subheading-container,
.start-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container,
.nickname-container {
  width: 900px;
  height: 150px;
  background: #f8a0cc;
}

.nickname-container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 30px;
}

.start-container {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 30px;
}

#nickname,
#submit {
  width: 600px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  color: #ffb8dc;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

#submit {
  background: #ec70af;
}

#submit:hover {
  background: #e0405c;
  color: #fff;
}

::placeholder {
  color: #ffb8dc;
}

/* About Section */
.about-container {
  width: 100%;
  height: 835px;
  background: #fce154;
}

.sidelook-left-logo {
  width: 380px;
  height: 380px;
  flex-shrink: 0;
}

.about-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-heading-container {
  width: 550px;
  padding: 15px 0px;
  margin: 50px;
}
.about-description-container {
  width: 550px;
  font-size: 20px;
  margin-top: 35px;
}

.sidelook-left-container {
  margin-top: 100px;
  margin-left: 35px;
}

/* Guide Section */
.guide-container {
  width: 100%;
  height: 835px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-img-container {
  width: 900px;
  height: 450px;
  border-radius: 30px;
  border: 20px solid #b2e2fe;
  background: #40b5e0 50%;
}

.guide-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.guide-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.guide-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-description,
.guide-heading {
  margin-bottom: 0px;
}

/* Footer */
footer > p {
  margin-bottom: 0px;
}
